* {
    padding : 0;
    margin : 0;
    box-sizing : border-box;
    font-family : 'Poppins',sans-serif;
}

body {
  position: relative;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.btn-primary {
  background-color: var(--primary-color);
  color: white;
  border-radius: 10px;
  padding: .7rem 2rem;
  font-weight: 600;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  transform: translateY(0px);
  transition: all .2s linear;
}

.btn-primary:hover {
  transform: translateY(10px);
}

header {
    display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0px;
}

.header-wrapper {
  position: sticky;
  top: 0;
  z-index: 200;
  background-color: white;
  box-shadow: 2px 2px 6px rgba(48, 48, 48, .2);
}

header .logo-title {
  font-size: 2rem;
  color: var(--primary-color);
  font-weight: bold;
}

a {
  color: var(--black);
  text-decoration: none;
}

header .nav-list {
  display: flex;
}

header .nav-list .nav-item {
  margin-right: 40px;
  font-size: 1rem;
  color: var(--black);
  cursor: pointer;
}

header .nav-list .nav-item:hover {
  color: var(--primary-color)
}

header .nav-list .nav-item.active {
  font-weight: 700;
  color: var(--primary-color)
}

header .nav-list .nav-item.active a {
    font-weight: 700;
  color: var(--primary-color);
}

header .btn-primary {
  font-size: 1rem;
}


footer {
  margin-top: 120px;
  background-color: var(--primary-color);
  color: white;
  width: 100%;
  padding: 60px 0;
}

footer .head {
  display: flex;
  justify-content: space-between;
}

footer .nav-list .nav-item {
  font-size: 1.3rem;
  font-weight: 600;
  margin-left: 20px;
  color: white;
}

footer .nav-list .nav-item:hover {
  color: var(--secondary-color);
}



footer .left {
  color: white;
}

footer h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
}

footer .left p {
  max-width: 430px;
  font-size: 1rem;
}

footer .breaking {
  width: 100%;
  height: 3px;
  margin: 20px 0;
  border-radius: 30px;
  background-color: white;
}

footer .contact-wrapper {
  display: flex;
}

footer .contact-wrapper * {
   font-size: 1.3rem;
   font-weight: 600;
}

footer .contact-wrapper .phone,
footer .contact-wrapper .email {
  margin-right: 30px;
}